﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="EjemploWS.Vistas._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label1" runat="server" Text="Acceso desde C#"></asp:Label>
        </div>
         <p>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="ON" />
        <p>
            <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="OFF" />
        </p>
    </form>
</body>
</html>
